/FP10/Exercicio 1/Exercicio 1/.gradle/
/FP10/Exercicio 1/.gradle/
/FP10/Exercicio 1/build/
/FP10/Exercicio 3/Exercicio 3/.gradle/
/FP10/Exercicio 3/Exercicio 3/build/
/FP10B/Exercicio 5/.gradle/
/FP10B/Exercicio 5/build/
/FP10B/Exercicio 6/.gradle/
/FP10B/Exercicio 6/build/